extends .cola-page

append head
	link(rel="stylesheet", type="text/css", href="./resources/nprogress/nprogress.css")
	script(src="./resources/nprogress/nprogress.js")
	script(src="./resources/jsbeautify.js")
	link(rel="stylesheet" type="text/css" href="./resources/prettify/themes/tomorrow.css")
	script(src="./resources/prettify/prettify.js")


append scripts
