doctype html
html
	head
		block head
			meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
			meta(name="apple-mobile-web-app-capable", content="yes")
			meta(name="apple-mobile-web-app-status-bar-style", content="black")
			meta(charset="UTF-8")
			
			title Cola-UI 文档中心
			base(href="/")

			link(rel="stylesheet", type="text/css", href="./resources/cola-ui/semantic.css")
			link(rel="stylesheet", type="text/css", href="./resources/cola-ui/cola.css")
			link(rel="stylesheet", type="text/css", href="./common/common.css")
			script(src="./resources/jquery/jquery-2.1.3.js")
			script(src="./resources/cola-ui/3rd.js")
			script(src="./resources/cola-ui/semantic.js")
			script(src="./resources/cola-ui/cola.js")
			script(src="./resources/cola-ui/i18n/zh/cola.js")
			script().
				(function () {
					var oldColaRootFn = cola._rootFunc;
					cola._rootFunc = function () {
						if (arguments.length === 2 && typeof arguments[0] === "string" && typeof arguments[1] === "function") {

							var name = arguments[0], fn = arguments[1];
							var targetContainer = $(".example[name='" + name + "']");

							targetContainer.attr("c-ignore", "");
							var targetDoms = targetContainer.find(">.code");
							if (targetDoms.length) {
								oldColaRootFn(name, targetDoms[0], fn);
								return;
							} else {
								throw new cola.Exception("\".example[name='" + name + "']\" not exists.");
							}
						}
						return oldColaRootFn.apply(this, arguments);
					};

				}).call(this);
	body
		script(type="text/javascript").
			window.viewPath = "#{viewPath}";
			NProgress.configure({showSpinner: false, minimum: 0.3}).start();
		block body

	block scripts

		script(src="./common/common.js")
