.page-footer

	.footer-main
		p Cola-UI v1.0.6
		a.link 反馈建议
		a.link
	.attention
		#qq.item
			i.icon-frame-qqqun
			div QQ群

		a.item(target="_blank" href="https://github.com/Cola-Org/cola-ui")
			i.icon-frame-github
			div GitHub
#qqPopup.ui.popup.transition.hidden
	.ui.segment.basic
		img.ui.centered.image(src="/resources/images/qq.png")
		strong Cola-UI互助群
		div 群号:309407648
.copyright
	p 模型驱动开发，企业应用开发利器！