c-carousel#carousel1(height="400" width="100%")
	div.items-wrap
		a(href="#" class="blue-background") Blue
		a(href="#" class="red-background") Red
		a(href="#" class="yellow-background") yellow
		a(href="#" class="orange-background") orange