c-progress(width="400px" value="{{cV}}")
c-progress(width="400px" value="{{completeValue}}")
c-progress.warning(width="400px" value="{{completeValue}}")
c-progress(width="400px" value="{{exceptionValue}}")