
c-progress(circle="true" width="100px" height="100px" value="{{cV}}" strokeWidth="6")
c-progress(circle="true" width="100px" height="100px" value="{{completeValue}}" strokeWidth="6")
c-progress.warning(circle="true" width="100px" height="100px" value="{{completeValue}}" strokeWidth="6")
c-progress(circle="true" width="100px" height="100px" value="{{exceptionValue}}" strokeWidth="6")