c-rating(rating="0" maxRating="5")
hr
c-rating(rating="2" maxRating="5")
hr
c-rating.star(rating="4" maxRating="5")
hr
c-rating.heart(rating="4" maxRating="5")
hr
span 禁用的
c-rating(rating="4" maxRating="5" class="star" disabled="true")
