message-box(style="width:320px")
	message.ui.notify-tip.message
		i.close.icon
		.header 系统消息
		p 今晚19：00准时看新闻联播哦（普通）

	message.ui.notify-tip.message.info
		i.close.icon
		.header 系统消息
		p 今晚19：00准时看新闻联播哦！（消息）

	message.ui.notify-tip.message.warning
		i.close.icon
		.header 系统消息
		p 您所执行的后台任务出现警告请查看控制台！（警告）

	message.ui.notify-tip.message.error
		i.close.icon
		.header 系统消息
		p 所执行的后台任务出现错误请查看控制台！（错误）

	message.ui.notify-tip.message.success
		i.close.icon
		.header 系统消息
		p 申请已成功提交！（成功）