extends ../article-layout

block article
	article
		h1 Block-Layout 横向箱式布局
		iframe(width="100%" height="600" src="//jsrun.net/nCkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")