extends ../article-layout

block article
	article
		h1  Breadcrumb 面包屑
		p 面包屑控件通常使用的目录和路径导航栏中
		iframe(width="100%" height="600" src="//jsrun.net/njkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")