extends ../article-layout

block article
	article
		h1  CardBook 卡片集控件
		p 通常使用在按条件显示内容的界面中控制
		iframe(width="100%" height="600" src="//jsrun.net/8BkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")