extends ../article-layout

block article
	article
		h1 Carousel 走马灯
		p 类似CardBook，常用于图片和新闻广告等内容展示。在显示上，有个状态条告知用户当前是第几页，一共有多少页。
		p 支持数据绑定和模板定义
		p 支持手持设备，手势切换
		h3 静态定义
		iframe(width="100%" height="600" src="//jsrun.net/HBkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")
	article
		h3 模板定义
		iframe(width="100%" height="600" src="//jsrun.net/GBkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")
