extends ../article-layout

block article
	article
		h1 DatePicker 日期选择器
		script(async src="//jsrun.net/ECkKp/embed/all/light/")
	article
		h3 选择时间
		script(async src="//jsrun.net/SCkKp/embed/all/light/")
		iframe(width="100%" height="480" src="//jsrun.net/SCkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0" )