extends ../article-layout
append head
	link(rel="stylesheet" type="text/css" href="docs/form-layout.css")

block article
	article
		h1  表单布局
		p 通过<code>fields</code>节点class定义<code>cols-2</code>定义列数
		p 通过<code>field</code>节点class定义<code>cols-2</code>定义单元格权重（横跨列数）。
		.example(name="tag")
			.code
				form-layout
					fields.cols-2
						field
						field
					fields.cols-4
						field.cols-2
						field
						field
					fields.cols-4
						field
						field
						field
						field
					fields.cols-6
						field
						field.cols-3
						field
						field

