extends ../article-layout

block article
	article
		h1 H-BOX 横向箱式布局
		p 影响<code>box、flex-box</code>直接子节点。
		li box的宽度为固定或者有内容决定。
		li flex-box的宽度为弹性宽度容器，占用box剩余空间，多个flex-box将评分剩余空间
		iframe(width="100%" height="600" src="//jsrun.net/5CkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")