extends ../article-layout

block article
	article
		h1 Input 输入框
		p 通过鼠标或键盘输入字符
		script(async src="//jsrun.net/tnkKp/embed/all/light/")

	article
		h3 ReadOnly
		p cola Input 可通过<code> readOnly:true </code> 实现输入框只读模式，默认值为<code>false</code>
		script(async src="//jsrun.net/CnkKp/embed/all/light/")

	article
		h3 Icon
		p Input 控件支持图标内嵌
		script(async src="//jsrun.net/mnkKp/embed/all/light/")

	//article
	//	h3 内嵌 Button
	//	p Input 控件支持按钮内嵌
	//	script(async src="//jsrun.net/MnkKp/embed/all/light/")
