extends ../article-layout

block article
	article
		h1 ListView 普通列表
		script(async src="//jsrun.net/P8YKp/embed/all/light/")

	article
		h1 ListView 模板渲染
		script(async src="//jsrun.net/s8YKp/embed/all/light/")

