extends ../article-layout

block article
	article
		h1 Menu 菜单
		script( async src="//jsrun.net/MBkKp/embed/all/light/")
		h3 右侧菜单
		script( async src="//jsrun.net/RBkKp/embed/all/light/")
		h3 内嵌组件
		script( async src="//jsrun.net/uBkKp/embed/all/light/")
		h3 Secondary
		script( async src="//jsrun.net/BBkKp/embed/all/light/")
