extends ../article-layout

block article
	article
		h1 Message Box 消息框
		iframe(width="100%" height="600" src="//jsrun.net/WrkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")