extends ../article-layout

block article
	article
		h1 Notify Tip 提示框
		p 支持自动隐藏，和跨平台自适应
		iframe(width="100%" height="600" src="//jsrun.net/frkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")