extends ../article-layout

block article
	article
		h1 Panel 面板控件
		script(async src="//jsrun.net/zCkKp/embed/all/light/")
	article
		h3 自定义Tools
		script(async src="//jsrun.net/PCkKp/embed/all/light/")