extends ../article-layout

block article
	article
		h1 Progress 进度条
		p 进度条默认提供了圆形和非圆形两种样式。
		script(async src="//jsrun.net/YukKp/embed/all/light/")
	article
		h3 状态
		p 提供了<code>positive、negative、warning</code> 三种状态，用户可通过改变<code>class:positive</code>获得状态样式
		script(async src="//jsrun.net/gukKp/embed/all/light/")
	article
		h3 圆形
		p 可通过<code>circle:true</code>获得圆形进度条。
		p 默认值为<code>false</code>
		script(async src="//jsrun.net/iukKp/embed/all/light/")
	article
		h3 动态改变值
		script(async src="//jsrun.net/ZukKp/embed/all/light/")