extends ../article-layout

block article
	article
		h1 Rating 评分控件
		ul
			li 对评价进行展示。
			li 对事物进行快速的评级操作。
			li 有默认和star、heart三种样式。
		script(async src="//jsrun.net/FAkKp/embed/all/light/")
	article
		h3 禁用
		p Rating 控件可通过<code>disabled:true</code>默认值为<code>false</code>
		script(async src="//jsrun.net/JAkKp/embed/all/light/")

