extends ../article-layout

block article
	article
		h1 Sidebar 侧边栏
		p 此控件为布局和交互辅助控件。支持左侧、右侧、顶部、底部滑出。
		p 通过<code>direction:left</code>来改变滑出位置

		ul
			li 左侧滑出-left
			li 右侧滑出-right
			li 顶部滑出-top
			li 底部滑出-bottom

		iframe(width="100%" height="600" src="//jsrun.net/dBkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")
	article
		h3 定义尺寸
		p 通过<code>size:value</code>定义尺寸。
		iframe(width="100%" height="600" src="//jsrun.net/JBkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")
