extends ../article-layout

block article
	article
		h1 Split Panel 滑动分割面板
		p 支持通过<code>direction</code> 初始状态下的滑动条相对计算为位置，可选值有<code>left,right,top,bottom</code> 默认值为<code>left</code>
		iframe(width="100%" height="600" src="//jsrun.net/irkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")
		h3 相对与顶部（横向的）
		iframe(width="100%" height="600" src="//jsrun.net/qrkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")
		h3 组合
		iframe(width="100%" height="600" src="//jsrun.net/sCkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")