extends ../article-layout

block article
	article.md-content
		h1 Tab 标签页
		script(async src="//jsrun.net/trkKp/embed/all/light/")

		h3 标签位置在左侧
		p Cola-UI 标签页可通过<code>direction</code>属性改变标签位置，可选值
		ul
			li left
			li top(默认值)
			li bottom
			li right
		script(async src="//jsrun.net/JCkKp/embed/all/light/")