extends ../article-layout

block article
	article
		h1 Table 表格
		p cola ui表格已经不是原有意义上的表格，提供了数据绑定，排序，以及编辑功能
		script(async src="//jsrun.net/3CkKp/embed/all/light/")

	article
		h1 可编辑表格
		script(async src="//jsrun.net/8CkKp/embed/all/light/")
	article
		h1 自定义单元格
		script(async src="//jsrun.net/UCkKp/embed/all/light/")
