extends ../article-layout

block article
	article
		h1 TagEditor 标签编辑器
		p 属性列表
		ul
			li
				<code>bind</code>:已选值绑定
			li
				<code>items</code>:可选项列表
		p 事件列表
		ul
			li
				<code>removeItem</code>:删除Item触发事件
			li
				<code>addItem</code>:添加Item触发事件
		script(async src="//jsrun.net/DJYKp/embed/all/light/")