extends ../article-layout

block article
	article
		h1 TimeLine 时间线
		p 时间线控件通常使用与布局也页面排版，以及列表形数据展现
		iframe(width="100%" height="600" src="//jsrun.net/EjkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")