extends ../article-layout

block article
	article
		h1  Tree 树控件
		p Cola树控件支持数据懒装载和数据一次性装载。

		h3 数据懒装载
		iframe(width="100%" height="600" src="//jsrun.net/6jkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")

		h3 组装树
		iframe(width="100%" height="600" src="//jsrun.net/wjkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")
