extends ../article-layout

block article
	article
		h1 V-BOX 纵向箱式布局
		p 影响<code>box、flex-box</code>直接子节点。
		li box的高度为固定或者有内容决定。
		li flex-box的高度为弹高度宽度容器，占用box剩余空间，多个flex-box将评分剩余空间
		iframe(width="100%" height="600" src="//jsrun.net/DCkKp/embedded/all/light/" allowfullscreen="allowfullscreen" frameborder="0")